body {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px 600px 50px;
	margin: 0;
	background: url("img/stars.png");
	background-size: cover no-repeat;
}

header {
	/*border-bottom: 1px solid white;*/
}

.container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto 25% 25%;

}

#banner_content {
	grid-column-start: 1;
	grid-row: 1 / span 2;
	color: white;
	font-size: 100px;
	/*background-color: rgba(0, 0, 0, 0.5);*/
}

#banner_content h1 {
	font-size: 60px;
	margin-bottom: 0;
	font-family: 'Monoton', cursive;
}

#banner_content p {
	font-size: 23px;
	margin-top: 0;
}

#build {
	grid-column: 2 / span 2;
	-webkit-mask-image: url("img/computer_icon.png");
	mask-image: url("img/computer_icon.png");
	transition: .6s ease-in-out;
}

#build:hover {
	transform: rotate(360deg) scale(1.2);
}

#game {
	grid-column-start: 3;
	grid-row-start: 2;
	-webkit-mask-image: url("img/controller.png");
	mask-image: url("img/controller.png");
	transition: .6s ease-in-out;
}

#game:hover {
	transform: rotate(-360deg);
}

#about_me {
	grid-column-start: 2;
	grid-row-start: 2;
	-webkit-mask-image: url("img/beach_icon.png");
	mask-image: url("img/beach_icon.png");
	transition: .6s ease-in-out;
}

#about_me:hover {
	transform: rotate(360deg);
}

#build,
#game,
#about_me,
#banner_content {
	justify-self: center;
	align-self: center;
}

footer {
/*	border-top: 1px solid white;*/
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	color: white;
}

#copy_text {
	text-align: center;
}

