body {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 100px 700px 100px;
	margin: 0;
}

/*header {
	height: 100px;
}*/

.container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 25% 25% auto;
	background-color: #000;
}

#banner_content {
	grid-column-start: 3;
	grid-row: 1 / span 2;
	color: white;
	font-size: 100px;
}

#banner_content h1 {
	font-size: 60px;
	margin-bottom: 0;
	font-family: 'Monoton', cursive;
}

#banner_content p {
	font-size: 23px;
	margin-top: 0;
}

#build {
	grid-column: 1 / span 2;
	mask-image: url("img/computer_icon.png");
	transition: .3s ease-in-out;
}

#build:hover {
	transform: scale(1.4);
}

#game {
	grid-column-start: 1;
	grid-row-start: 2;
	mask-image: url("img/controller.png");
	transition: .3s ease-in-out;
}

#game:hover {
	transform: rotate(15deg) scale(1.4);
}

#about_me {
	grid-column-start: 2;
	grid-row-start: 2;
	mask-image: url("img/beach_icon.png");
	transition: .3s ease-in-out;
}

#about_me:hover {
	transform: rotate(-15deg) scale(1.4);
}

#build,
#game,
#about_me,
#banner_content {
	justify-self: center;
	align-self: center;
}

/*footer {
	height: 100px;
}*/

